*{
margin: 0px;
padding: 0px;

}

#name{
    margin-right:150px;
    color: #0D5EBA;
    /* font-weight: bold; */
    margin-bottom: 10px;
}

#navbar{
    
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-decoration: none;

}
ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}
