*{
margin: 0px;
padding: 0px;

}

#name{
    margin-right:150px;
    color: #0D5EBA;
    /* font-weight: bold; */
    margin-bottom: 10px;
}

#navbar{
    
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-decoration: none;

}
ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}

#anchorsList{
    padding: 7px;
}

.carts-containers{
  display: flex;
  border: 2px solid black;
  gap: 10px;
  width: 80%;
  margin-left: 100px;

}
.cart{
    height: 100%;
    width: 100%;

 
}

