#name{
    
    margin-right:150px;
}
#anchorsList{
    
}
#navbar{
    border: 2px solid black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-decoration: none;

}
ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
