*{
margin: 0px;
padding: 0px;

}

#name{
    margin-right:500px;
    margin-top: 0px;
    color: #0D5EBA;
    font-weight: bold;
 
}

#navbar{
    
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-decoration: none;
   margin: 10px;

}
ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}

#anchorsList{
    padding: 7px;
}

.carts-containers{
  display: flex;
  
  width: 80%;
  margin-left: 50px;
  justify-content: space-around;
  margin: 50px;
  

}
.cart{
   
    width: 120px;
    height: 120px;
   border-radius: 10px;
}
img{
  border-radius: 10px;
}

h4{
    margin-left: 30px;
}

h2{
   padding-left: 48px;
   margin: 50px;
    margin: px;
    color: #0D5EBA;
    font-weight: 100px;
    
}
#title{
    color: white;
    padding-top: 100px;
}

#about{
   
    display: flex;
    background: #0D5EBA;
}

.about1{
 
 width: 800px;
text-align: center;
padding-top: 100px;
}

.about2{

 width: 800px;
text-align: center;

}

.no-radius{
  border-radius: 0 !important; 
  background: none; 
  
}
p{
    color: white;
}

button{
    margin-right: 300px;
}
#review-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.review{
    border: 2px solid rgb(241, 239, 239);
    width: 250px;
    height: 100px;
    padding: 50px;
}

#service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.serviseCart{
    border: 2px solid rgb(241, 239, 239);
   
}
.developemnt{
    margin-top: 0px;
    margin-left: auto;
}



/* Footer Container */
footer {
  background: #0D5EBA; 
  padding: 40px;
  color: white;
}

