body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

*{
margin: 0px;
padding: 0px;

}


#name{
    margin-right:500px;
    margin-top: 0px;
    color: #0D5EBA;
    font-weight: bold;
 
}
.animate__rubberBand{
   color: #0D5EBA;  
}

#navbar{
    
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-decoration: none;
   margin: 10px;

}
ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}

#anchorsList{
    padding: 7px;
}

.carts-containers{
  display: flex;
  
  width: 80%;
  margin-left: 50px;
  justify-content: space-around;
  margin: 50px;
  

}
.cart{
   
    width: 120px;
    height: 120px;
   border-radius: 10px;
}
img{
  border-radius: 10px;
}

h4{
    margin-left: 30px;
}

h2{
   padding-left: 48px;
   margin: 50px;
    margin: px;
    color: #0D5EBA;
    font-weight: 100px;
    
}
#title{
    color: white;
    padding-top: 100px;
}

#about{
   
    display: flex;
    background: #0D5EBA;
}

.about1{
 
 width: 800px;
text-align: center;
padding-top: 100px;
}

.about2{

 width: 800px;
text-align: center;

}

.no-radius{
  border-radius: 0 !important; 
  background: none; 
  
}
p{
    color: white;
}

button{
    margin-right: 300px;
}
#review-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.review{
    border: 2px solid rgb(241, 239, 239);
    width: 250px;
    height: 100px;
    padding: 50px;
}

#service-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.serviseCart{
    border: 2px solid rgb(241, 239, 239);
   
}
.developemnt{
    margin-top: 0px;
    margin-left: auto;
}



/* Footer Container */
footer {
  background: #0D5EBA; 
  
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
  
}


.column{
    font-size: x-large;
}

#lastpara{
    padding: 15px;
    background: #4d4848;
    text-align: center;
}

.fa-whatsapp{
    color: #acdc30;
}
.fa-github{
    color: black;
}
.fa-square-instagram{
    color: #E1306C;
}
.fa-square-x-twitter{
    color: black;
}
.fa-facebook{
    color: rgb(6, 12, 135);
}
.fa-location-dot{
 color: #1DA1F2;
 }

.serviseCart{
transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.serviseCart:hover{
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.cart{
transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.cart:hover{
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#btn-contact {
    display: inline-block;
    padding: 12px 25px;
    background-color: #111827;
    color: #ddea24;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

#btn-contact:hover {
    background-color: #2563EB;
    color: #ffffff;
}
