*{
margin: 0px;
padding: 0px;

}

#name{
    margin-right:500px;
    margin-top: 0px;
    color: #0D5EBA;
    font-weight: bold;
 
}

#navbar{
    
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   text-decoration: none;

}
ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
}

#anchorsList{
    padding: 7px;
}

.carts-containers{
  display: flex;
  
  width: 80%;
  margin-left: 50px;
  justify-content: space-around;
  margin: 50px;
  

}
.cart{
   
    width: 120px;
    height: 120px;
   border-radius: 10px;
}
img{
  border-radius: 10px;
}

h4{
    margin-left: 30px;
}

h2{
    margin-left: 50px;
    margin: 50px;
}

#about{
    border: 2px solid black;
    display: flex;
}

.about1{
 border: 2px solid yellow;
 width: 800px;

}

